#####################################################################
# 	Macro
#####################################################################
#
#   This section contains basic macros that needed in several other
#   files. Getting them all to a single place should help to only
#   use what needed without hunting down several other files.
#
#####################################################################
##  Clear display output after Duration in seconds
##  Use: UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1

[gcode_macro CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}

# [gcode_macro M141]
# default_parameter_S: 0
# default_parameter_P: 0
# gcode:
#     SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber" target={S}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    CG28                      # Home if not homed to get everything turned on
    QUAD_GANTRY_LEVEL         # Level
    G28 X Y                   # Home the X and Y
    CLEAN_NOZZLE
    G28 Z                     # Home the Z now that nozzle is clean

# [gcode_macro PURGE_BUCKET]
# gcode:
#     SAVE_GCODE_STATE NAME=PURGE
#     G90                    # absolute
#     G0 X75 Y355 Z2         # go to purge bucket
#     G1 X25 E10 F500        # purge some filament into bucket
#     G1 X75 E3 F500         # purge some filament into bucket
#     G0 X120 Y355 F750      # move across purge brush
#     G1 E-2 F500            # Retract a little
#     G1 Z3                  # Raise and return
#     RESTORE_GCODE_STATE NAME=PURGE


[delayed_gcode CLEAR_DISPLAY]
gcode:
  M117

## Reset SD File after Print_END or CANCEL_PRINT
## This will avoid the reprint option in Mainsail after a print is done
[delayed_gcode DELAY_SDCARD_RESET_FILE]
gcode:
  SDCARD_RESET_FILE

# [gcode_macro DIRECT_MOVE]
# gcode:
#   {% set out_param = ["G0"] %}
#   {% set _dummy = out_param.append("X%s" % params.X) if params.X %}
#   {% set _dummy = out_param.append("Y%s" % params.Y) if params.Y %}
#   {% set _dummy = out_param.append("Z%s" % params.Z) if params.Z %}
#   {% set _dummy = out_param.append("E%s" % params.E) if params.E %}
#   {% set _dummy = out_param.append("F%s" % params.F) if params.F %}
#   {out_param|join(" ")}
# 
##  action_respond_info will be always executed at the beginning of an macro evaluation.
##  Use _PRINT_AR if you need the order of several console outputs in the order given by the macro
##  Use: _PRINT_AR T="QGL forced by PRINT_START"
[gcode_macro _PRINT_AR]
description: Helper: Action response
gcode:
  {% if params.SHOW_LCD|default('false') == 'true' %} M117 {params.T} {% endif %}
  {action_respond_info(params.T)}

# [gcode_macro M115]
# description: Print host and mcu version
# rename_existing: M115.1
# gcode:
#   {% set out = ['mcu build version:'] %}
#   {% for name1 in printer %}
#     {% for name2 in printer[name1] %}
#       {% if name2 is in ['mcu_version'] %}
#         {% set _dummy = out.append("%s: %s" % (name1, printer[name1][name2])) %}
#       {% endif %}
#     {% endfor %}
#   {% endfor %}
#   {action_respond_info(out|join("\n"))}
#   M115.1